[Desktop Entry]
Encoding=UTF-8
Name=Link to Inline image 1
Type=Link
URL=https://mail.google.com/mail/u/0/?ui=2&ik=4abfe912ab&view=fimg&th=154535e84dc6d71a&attid=0.3&disp=emb&realattid=ii_154535d709fccebd&attbid=ANGjdJ8btut5dJVcKaDQrGuBebvzDi6grNnjgBSXpSm2W727XQZwin3giYSEIJOZtmO8CF-yNYEZ7nWSBeInbHUqYzSXincLAG2te6PIWKw-6K3-9tsW1dkQosz-VjU&sz=w1088-h228&ats=1461687585552&rm=154535e84dc6d71a&zw&atsh=1
Icon=text-html
