/* BROWSER RESET */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td { margin:0;padding:0; }
table { border-collapse:collapse;border-spacing:0; }
fieldset,img { border:0; }
address,caption,cite,code,dfn,th,var { font-style:normal;font-weight:normal; }
ol,ul { list-style:none; }
caption,th { text-align:left; }
h1,h2,h3,h4,h5,h6{ 	font-size:100%; }
q:before,q:after{ content:''; }
a:active, a:focus { outline: none; }
/* BROWSER RESET */




/* BASE */
.left{float:left;}
.right{float:right;}
img.left { margin: 0 25px 10px 0; }
img.right { margin: 0 0 10px 25px; }
.center{text-align:center;}
.text-right { text-align: right; }
.clear{clear:both;}
.first{margin-left:0 !important; padding-left: 0 !important; border: none !important; }
.last{margin-right:0 !important;}
.top{margin-top:0 !important;}
.bottom{margin-bottom:0 !important;}
.hidden, .print{display:none;}
.hightlight {background-color: yellow;}
/* BASE */



/* LAYOUT */
#home-bottom-col1, #home-bottom-col2, #home-bottom-col3 {
	width: 300px;
	float: left;
	margin-left: 29px;
}
#home-bottom-col1 { width: 275px; }
#home-bottom-col3 { float: right; }
#home-bottom-col3 { width: 258px; }
body {
	margin: 0;
	padding: 0;
	xbackground: white url(/images/backgrounds/bg-header.png) repeat-x center top;
}
#wrapper {
	width: 100%;
	margin: 0;
	text-align: left;
}
#top-bar {
	height: 28px;
	padding-top: 5px;
}
#content {
	padding: 50px 0 20px;
	clear: both;
}
#header {
	height: 131px;
	position: relative;
}
#main-banner {
	height: 250px;
	position: relative;
}
.full-width {
	width: 100%;
	clear: both;
}
.col-small {
	width: 250px;
}
.col-large {
	width: 625px;
}
.col-medium {
  width: 312px;
}
#h-sep-gradient {
	height: 16px;
	background: url(/images/backgrounds/bg-gradient-dark-spacer.png) repeat-x;
}
#breadcrumbs {
	height: 31px;
	line-height: 31px;
	background: url(/images/backgrounds/bg-crumbs.png) repeat-x;
	color: #666;
	letter-spacing: 1px;
}
#header-stretch {
	width: 100%;
	background: white url(/images/backgrounds/bg-header.png) repeat-x center top;

}
#home-feature-stretch {
	width: 100%;
	padding: 20px 0 0 0;
}
#middle-stretch {
	width: 100%;
	background: #e8ebed;
	border-bottom: 1px solid #c0cbd3;
	border-top: 1px solid #f2f4f6;
	padding: 30px 0;
}
#bottom-stretch {
	width: 100%;
	border-top: 1px solid white;
	background: #f3f4f5;
}
#follow_dk {
	border-top: 1px solid #c0cbd3;
	padding-top: 20px;
	padding-bottom: 20px;
}
#home-bottom-col1 #follow_dk {
  border:0;
}
#header,
#home-feature,
#middle,
#bottom,
.container-960 {
	width: 960px;
	margin: 0 auto;
	position: relative;
	text-align: left;
}
#content-top {
	background: white;
	width: 960px;
	margin: 0 auto;
	padding: 30px 0;
}
#bottom {
	padding: 45px 0;
}
#bottom ul {
	list-style: square outside;
	padding-left: 15px;
}
#map-frame {
	padding-bottom: 25px;
}
.col-border-left {
	padding-left: 40px;
	border-left: 1px solid #eee;
}
#blog {
	background: #fcfcfc;
	border: 1px solid #d2d9dc;
	padding: 25px 20px 5px;
	position: relative;
	width: 250px;
	float: right;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}
#blog ul { padding: 0; list-style: none; }
#blog #blog-logo {
	position: absolute;
	top: -20px;
	right: -15px;
}
#blog li {
	margin-bottom: 10px;
}
#blog li:first-child {
	padding-right: 30px;
}
.blog {
	background: #fcfcfc;
	border: 1px solid #d2d9dc;
	padding: 25px 20px 5px;
	position: relative;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	width: 258px;
}
.blog #blog-logo {
	position: absolute;
	top: -35px;
	right: -32px;
}

#bottom .blog ul { padding: 0; list-style: none; }
.blog #blog-logo {
	position: absolute;
	top: -20px;
	right: -15px;
}
.blog li {
	margin-bottom: 10px;
}
.blog li:first-child {
	padding-right: 30px;
}
.blog li div {
  padding-bottom: 10px;
}

#home-bottom-left {
	float: left;
	width: 625px;
}
.h-sep-bevel-med {
	margin: 20px 0;
	height: 2px;
	clear: both;
	background: url(/images/hsep-bevel-medium.png) no-repeat center;
}
.h-sep-bevel-wide {
	margin: 20px 0;
	height: 2px;
	clear: both;
	background: url(/images/hsep-bevel-big.png) no-repeat center;
}

.col {
	float:left;
	display:inline;
	width:48%;
	margin-left:4%;
}
.cols-3 .col {
	width:27%;
	margin-left:4%;
	padding-left: 4%;
	border-left: 1px solid #d4dbe0;
}
.cols-4 .col {
	width:22%;
	margin-left:4%;
}

/* SAMPLE COLUMNS USAGE
		<div class="cols-3">
			<div class="col first">
			content
			</div>
			<div class="col">
			content
			</div>
			<div class="col">
			content
			</div>
			<br class="clear" />
		</div>
		*/
/* LAYOUT */




/* TYPOGRAPHY */
body, td, th {
	font: 12px/20px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #333;
}
p, ul, ol, H1, H2, H3, table, form {
	margin: 0 0 25px 0;
}
.small-text {
	color: #777;
	font-size: 10px;
}
h2.toggler {
	line-height: 37px;
	height: 37px;
	padding-left: 10px;
	background: url(/images/backgrounds/h2-toggle.png) right top;
	margin-bottom: 30px;
	cursor: pointer;
}
h2.toggler-active {
	background-position: right bottom;
}
h3.toggler {
	line-height: 37px;
	height: 37px;
	padding-left: 10px;
	background: url(/images/backgrounds/h2-toggle.png) right top;
	margin-bottom: 20px;
	cursor: pointer;
	color: #a41d19;
	font-weight: normal;
}
h3.toggler-active {
	background-position: right bottom;
}
.big-bold {
	font-size: 18px;
	font-weight: bold;
	letter-spacing: -1px;
}
.highlight {
	background: #ffff8b;
}
H1 {
	margin-bottom: 30px;
	font-size: 30px;
	font-style: normal;
	line-height: 32px;
	font-weight: normal;
	font-variant: normal;
	letter-spacing: -1px;
}
span.red-text {
	color: #a41d19;
}
H2 {
	margin-bottom: 20px;
	color: #a41d19;
	font-size: 18px;
	font-style: normal;
	line-height: 22px;
	font-weight: normal;
	font-variant: normal;
}
H3 {
	margin-bottom: 10px;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
}
H4 {
	font: bold 14px/18px Arial, Helvetica, sans-serif;
	margin-bottom: 10px;
}
/* TYPOGRAPHY */




/* LINKS & BUTTONS */
a img {
	border: none;
}
a {
	color: #1577cd;
	text-decoration: none;
}
a:hover {
	color: #3787cd;
	text-decoration: underline;
}
a.btn-more-details {
	width: 90px;
	height: 44px;
	display: block;
	text-indent: -9999px;
	margin-right: 10px;
	background: url(/images/buttons/btn-more-details.png) no-repeat top;
}

a.btn-buy-now-free-ship {
	width: 157px;
	height: 44px;
	display: block;
	text-indent: -9999px;
	background: url(/images/buttons/btn-buynow-freeship.png) top;
}

a.btn-preorder-free-ship {
	width: 157px;
	height: 44px;
	display: block;
	text-indent: -9999px;
	background: url(/images/buttons/btn-preorder-freeship.png) top;
}

a.btn-more-details:hover,
a.btn-buy-now-free-ship:hover,
a.btn-preorder-free-ship:hover,
a.btn-contribute-story:hover {
	background-position: bottom;
}
.feature-slide-callouts a {
	float: left;
}
a.btn-contribute-story {
	width: 207px;
	height: 39px;
	display: block;
	text-indent: -9999px;
	margin-top: 20px;
	float: right;
	background: url(/images/buttons/contribute-story.png) no-repeat top;
	margin-right: 20px;
}
.link-chat-content {
	font-size: 16px;
	padding: 5px 0 5px 55px;
	background: url(/images/icons/chat-big.png) no-repeat 0px 0px;
}
/* LINKS & BUTTONS */




/* HOME FEATURES */
.slide-wrapper {
	width: 100%;
}
.feature-slide-product-features,#product-page-features {
	padding: 20px 0;
}
.feature-slide-product-features {  }
.feature-slide-callouts {
	position: absolute;
	top: 0;
	right: 0;
}
.feature-slide-top {
	padding: 10px 0 0 0;
	position: relative;
	height: 520px;
	width: 960px;
}
#home-slides-wrapper { width: 960px; margin: 0 auto; }
.product-feature {
	width: 450px;
}

.product-line-break{
	border:none;
	color: #D0D0D0;
	background-color: #D0D0D0;
	height: 1px;


}

.price {font-weight: bold; font-size: 1.6em; color: #555}
.sale {color: red;}

.feature-slide-product-features .first {
	border-right: 1px solid #ddd;
	padding-right: 30px;
	margin-left: 0;
}
.product-feature-thumb {
	width: 100px;
	float: left;
	text-align: center;
}
.product-feature h2,
.product-feature p {
	margin: 0 0 8px 120px;
}
.product-feature p.no-image {
	margin: 0 0 8px 0;
}
.feature-slide h1 {
	margin-bottom: 15px;
}
.content-photo-border {
	background: white;
	padding: 3px;
	border: 1px solid #ddd;
}
.feature-slide {
	margin: 0;
	width: 960px;
}
#home-feature-nav {
	padding: 0;
	margin: 0 0 20px 0;
	list-style: none;
}
#home-feature-nav li {
	display: inline;
	float: left;
}
#home-feature-nav-numbers li {
	display: inline;
	float: left;
	padding: 2px;
}
#home-feature-nav-numbers li a {
	padding: 2px 5px 2px 5px;
	background-color: #aaa;
	color: #fff;
}
#home-feature-nav a {
	float: left;
	display: block;
	padding: 3px 5px 15px;
	margin: 0 15px 0 0;
	color: #777;
	text-decoration: none;
	text-transform: uppercase;
}
#home-feature-nav li.activeSlide a {
	color: #a41d19;
	text-decoration: none;
	background: url(/images/feature-nav-red-arrow.png) no-repeat center bottom;
}
#home-feature-slides {
	background: url(/images/backgrounds/bg-gradient-light2.png) repeat-x bottom;
}
/* HOME FEATURES */




/* PRODUCTS */
.feature {
	float:left;
	display:inline;
}
.features-4 .feature {
	width:200px;
	margin-left:20px;
	padding-left: 32px;
	border-left: 1px solid #eee;
}
.features-5 .feature {
	width:162px;
	margin-left:15px;
	padding-left: 20px;
	border-left: 1px solid #eee;
}
#product-page-features h3 { color: #a41d19; font-weight: normal; }
#product-page-features img {
	display: block;
	border: 1px solid #ccc;
	margin-bottom: 10px;
	width: 99%;
}
#product-page-features p { margin-bottom: 10px; }
#product-thumbs li {
	display: inline;
	margin: 0 5px 5px 0;
}
#product-thumbs li img {
	opacity: .3; /* Standard: FF gt 1.5, Opera, Safari */
	filter: alpha(opacity=30); /* IE lt 8 */
	-ms-filter: "alpha(opacity=30)"; /* IE 8 */
	-khtml-opacity: .3; /* Safari 1.x */
	-moz-opacity: .3; /* FF lt 1.5, Netscape */
}
#product-thumbs li.activeSlide a img {
	opacity: 1.0; /* Standard: FF gt 1.5, Opera, Safari */
	filter: alpha(opacity=100); /* IE lt 8 */
	-ms-filter: "alpha(opacity=100)"; /* IE 8 */
	-khtml-opacity: 1.0; /* Safari 1.x */
	-moz-opacity: 1.0; /* FF lt 1.5, Netscape */
}
#product-detail-wrapper {
	position: relative;
}
#product-callouts {
	position: absolute;
	top: 0;
	right: 0;
}
#product-detail-wrapper .product-pricing {
	padding: 7px 0;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
#product-detail-wrapper h1 {
	margin-bottom: 5px;
}
#product-images {
	float: right;
	width: 555px;
	text-align: center;
	border-left: 40px solid white;
	max-width: 555px;
}
#product-images-mac {
	float: right;
	width: 555px;
	text-align: center;
	border-left: 40px solid white;
	max-width: 555px;
	cursor: pointer;
}
.product {
	width: 200px;
	float: left;
	padding-left: 26px;
	padding-bottom: 100px;
	position: relative;
	border-left: 1px solid #ddd;
	margin-left: 26px;
	margin-bottom: 40px;
}
.product .btn-buy-now-free-ship { margin-top: 10px; }
.product .btn-preorder-free-ship { margin-top: 10px; }
.product h3 a { color: #333; }
.products-grid {
	margin-bottom: 40px;
}
.products-grid .first {
	margin-left: 0;
	padding-left: 0;
	border: none;
}
.product .product-pricing {
	padding-top: 10px;
	border-top: 1px solid #ddd;
	position: absolute; bottom: 0;
}
.product p {
	margin-bottom: 10px;
}
.product h3 {
	margin-bottom: 20px;
}
.product h3 span.product-tagline {
	color: #a41d19;
	font-weight: normal;
	font-size: 11px;
}
/* PRODUCTS */




/* IMAGES */
.big-image-center {
	display: block;
	margin: 0 auto;
}
/* IAMGES */




/* GLOBAL TOP NAVIGATION */
#global-nav {
	float: right;
}
#global-nav li {
	display: inline;
	margin-left: 20px;
}
#global-nav li a {
	color: #ccc;
	font-size: 11px;
}
#global-nav #global-nav-blog a {
	padding: 2px 0 2px 0px;
	vertical-align: top;
	position:relative;
	top:2px;
}
#global-nav #global-nav-googleplus a {
	padding: 2px 0 2px 0px;
	position:relative;
	left:0px;
}
#global-nav #global-nav-twitter a {
	padding: 2px 0 2px 0px;
	position:relative;
	left:20px;
}
#global-nav #global-nav-facebook a {
	padding: 2px 0 2px 0px;
	position:relative;
	left:40px;
}
#global-nav #global-nav-stores a {
/*	background: url(/images/icons/icon-small-search.png) no-repeat 0px 4px; */
	padding: 2px 0px 2px 0px;
	vertical-align: top;
	position:relative;
	top:2px;
}
#global-nav #global-nav-chat a {
	background: url(/images/icons/icon-small-chat.png) no-repeat 0px 4px;
	padding: 2px 0 2px 20px;
}
#global-nav #global-nav-cart a {
	background: url(/images/icons/icon-small-cart.png) no-repeat 0px 4px;
	padding: 2px 0 2px 20px;
}
/* GLOBAL TOP NAVIGATION */




/* FOOTER */
#footer-stretch {
	margin: 0;
	text-align: left;
	font-size: 11px;
	clear: both;
	background: #232323;
	color: #777;
}
#footer {
	padding: 20px 0 0 0;
	margin: 0 auto;
	width: 960px;
	color: #999;
}
#footer ul.footer-links {
	margin: 0;
	padding: 0;
list-style: none;
}
#footer ul.footer-links li {
	display: inline;
	margin-left: 0;
	padding: 0 5px;
	border-left: 1px solid #555;
}
#footer ul.footer-links li:first-child {
	border-left: none;
	padding-left: 0;
}
#footer ul.footer-links li:last-child {
	padding-right: 0;
}
#footer a {
	color: #999;
}
#footer p {
	margin: 0;
}
.footer-nav li {
	display: inline;
	border-left: 1px solid #ccc;
	padding: 2px 8px;
}
.footer-nav li:first-child {
	border-left: none;
}
.footer-nav li a {
	color: #777;
	font-weight: normal;
}
/* FIXED FOOTER */
	html,
body {
	height: 100%;
}
#wrapper {
	min-height: 100%;
	height: auto;
}
* html #wrapper {
	height: 100%;
}
#push-footer {
	height: 90px;
	position: relative;
	z-index: 3;
}
#footer-stretch {
	margin-top: -90px;
	height: 90px;
	position: relative;
	z-index: 4;
}
/* FIXED FOOTER */
/* FOOTER */




/* LOGO */
#logo {
	background-image: url(/images/das-keyboard-logo.png);
	text-indent: -9999px;
	height: 45px;
	width: 335px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 60px;
	left: -2px;
	z-index: 10;
}
#header h1 {
	margin: 0;
}
/* LOGO */




/* MAIN NAVIGATION */
#nav {
	padding: 0;
	margin: 0;
	list-style: none;
	position: absolute;
	top: 70px;
	right: 0px;
}
#nav li {
	display: inline;
	float: left;
}
#nav a {
	float: left;
	display: block;
	padding: 3px 7px;
	margin: 0 0 0 20px;
	color: #444444;
	text-decoration: none;
	font-size: 13px;
}
#nav a:hover,
#nav a.active {
	color: #a41d19;
	text-decoration: none;
}
/* MAIN NAVIGATION */


/* LEFT NAV */
.sub-nav {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 12px;
	text-align: left;
	margin: 0 0 20px 0;
}
.sub-nav li {
	height: 47px;
}
.sub-nav li a {
	display: block;
	background: none;
	text-decoration: none;
	height: 47px;
	margin: 0;
	width: 100%;
	color: #7d849b;
	text-decoration: none;
	text-transform: uppercase;
	font: normal 12px/47px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.sub-nav li a:hover {
	text-decoration: none;
	color: #292f42;
}
.sub-nav a.active {
	background: url(/images/bg1-subnav-active.png);
	color: #292f42;
	margin: 0 0 0 -33px;
	width: 241px;
	padding-left: 33px;
}
/* SUBNAV */




/* QUOTES & REVIEWS */
#quote-bubble {
	width: 495px;
	height: 229px;
	float: left;
	background: url(/images/backgrounds/bg-quote-bubble.png) no-repeat;
	font-size: 16px;
	line-height: 24px;
	position: relative;
}
span.quote-source {
	display: block;
	border-top: 1px solid #ddd;
	padding-top: 10px;
	margin-top: 10px;
	font-size: 11px;
	line-height: 18px;
}
span.quote-source img {
	float: left;
	margin: 0 15px 0 0;
}
#quote-bubble .quote {
	position: absolute;
	width: 425px;
	margin: 30px 0 0 30px;
	background: white;
	font-size: 16px;
	line-height: 24px;
}
.quote {
	font-size: 14px;
	line-height: 24px;
}
#quote-bubble .quote img { margin-bottom: 10px; }
.happy-customers .quote {
	width: 28%;
	padding-left: 8%;
	float: left;
}
.happy-customers .quote img {
	border: 2px solid white;
}
p.quote-source {
	font-size: 11px;
	line-height: 18px;
}
p.quote-source img {
	float: left;
	margin: 0 15px 0 0;
}
#quotes-nav li {
	display: block;
	float: left;
	height: 70px;
	line-height: 70px;
	text-align: center;
}
#quotes-nav li img {
	margin: 0 8px;
	vertical-align: middle;
	opacity: .3; /* Standard: FF gt 1.5, Opera, Safari */
	filter: alpha(opacity=30); /* IE lt 8 */
	-ms-filter: "alpha(opacity=30)"; /* IE 8 */
	-khtml-opacity: .3; /* Safari 1.x */
	-moz-opacity: .3; /* FF lt 1.5, Netscape */
}
#quotes-nav li.activeSlide a img {
	opacity: 1.0; /* Standard: FF gt 1.5, Opera, Safari */
	filter: alpha(opacity=100); /* IE lt 8 */
	-ms-filter: "alpha(opacity=100)"; /* IE 8 */
	-khtml-opacity: 1.0; /* Safari 1.x */
	-moz-opacity: 1.0; /* FF lt 1.5, Netscape */
}
#quotes-nav {
	width: 425px;
	float: right;
}
#reviews-nav {
	width: 425px;
	float: right;
}
#reviews-nav li {
	display: block;
	float: left;
}
#reviews-nav li img {
	width: 55px;
	height: 55px;
	border: 1px solid #c3c5c7;
	background: white;
	padding: 3px;
	margin: 0 15px 12px 0;
	opacity: .3; /* Standard: FF gt 1.5, Opera, Safari */
	filter: alpha(opacity=30); /* IE lt 8 */
	-ms-filter: "alpha(opacity=30)"; /* IE 8 */
	-khtml-opacity: .3; /* Safari 1.x */
	-moz-opacity: .3; /* FF lt 1.5, Netscape */
}
#reviews-nav li.activeSlide a img {
	opacity: 1.0; /* Standard: FF gt 1.5, Opera, Safari */
	filter: alpha(opacity=100); /* IE lt 8 */
	-ms-filter: "alpha(opacity=100)"; /* IE 8 */
	-khtml-opacity: 1.0; /* Safari 1.x */
	-moz-opacity: 1.0; /* FF lt 1.5, Netscape */
}
/* QUOTES & REVIEWS */




/* FORMS */
form {
	padding: 0;
}
form td {
	padding: 4px 0;
	text-align: left;
}
.basic-form label {
	float:left;
	width:150px;
	display:block;
	clear:left;
	margin-right:10px;
	text-align:left;
	margin-top: 10px;
	padding-top: 3px;
}
.basic-form label.error {
	float: left;
	width: 150px;
	color: red;
	padding: 0;
	margin: 15px 0 0 15px;
	clear: none;
}
.basic-form textarea,
.basic-form input[type="text"],
.basic-form input[type="file"],
.basic-form select,
.basic-form button,
.basic-form optgroup {
	margin-top:10px;
	width: 250px;
	padding: 6px;
	float: left;
	border: 2px solid #ccc;
	background: #fff;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}
.basic-form textarea {
	width: 400px;
}
.basic-form label wide {
	float: none;
}
.basic-form br {
	clear: both;
}
.basic-form input[type="checkbox"] {
	margin-top: 10px;
}
.basic-form input[type="submit"] {
	background: url(/images/btn-submit-medium.png);
	color: white;
	text-align: center;
	margin-top: 15px;
	border: none;
	cursor: pointer;
	font: bold 15px "Trebuchet MS", Arial, Helvetica, sans-serif;
	height: 47px;
	width: 156px;
}
.basic-form input[type="text"].error {
	border: 2px solid red;
}
/* FORMS */




/* CAROUSEL */
#buzz-carousel {
	position: relative;
}
#scroller-mask {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
}
#buzz-carousel-slides li {
	display: block;
	float: left;
	width: 259px;
	border-right: 1px solid #eee;
	height: 350px;
	padding: 0 30px;
}
#buzz-logo-nav li {
	display: inline;
	margin: 5px;
}
#buzz-logo-nav a img {
	vertical-align: middle;
	margin: 5px;
}
.jcarousel-skin .jcarousel-container-horizontal {
	width: 961px;
}
.jcarousel-skin .jcarousel-clip-horizontal {
	width: 960px;
}
.jcarousel-skin .jcarousel-item {
	width:  259px;
}
.jcarousel-skin .jcarousel-next-horizontal {
	position: absolute;
	top: 125px;
	right: -20px;
	width: 42px;
	height: 41px;
	cursor: pointer;
	background: transparent url(/images/btn-carousel-next.png) no-repeat top;
	z-index: 1100;
}
.jcarousel-skin .jcarousel-next-horizontal:hover {
	background-position: top;
}
.jcarousel-skin .jcarousel-next-horizontal:active {
	background-position: top;
}
.jcarousel-skin .jcarousel-next-disabled-horizontal,
.jcarousel-skin .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin .jcarousel-next-disabled-horizontal:active {
	cursor: default;
	background-position: bottom;
}
.jcarousel-skin .jcarousel-prev-horizontal {
	position: absolute;
	top: 125px;
	left: -20px;
	width: 42px;
	height: 41px;
	cursor: pointer;
	background: transparent url(/images/btn-carousel-prev.png) no-repeat top;
	z-index: 1100;
}
.jcarousel-skin .jcarousel-prev-horizontal:hover {
	background-position: top;
}
.jcarousel-skin .jcarousel-prev-horizontal:active {
	background-position: top;
}
.jcarousel-skin .jcarousel-prev-disabled-horizontal,
.jcarousel-skin .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin .jcarousel-prev-disabled-horizontal:active {
	cursor: default;
	background-position: bottom;
}
/* CAROUSEL */




/* CLEARFIX */
#content:after,
.cols:after,
.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
#content,
.cols,
.clearfix {
	display:block;
	min-height:1%;
}
* html #content,
* html .cols,
* html .clearfix {
	height:1%;
}
.clearfix {
	clear: both;
}
/* // CLEARFIX */

#corporate-sale .press-kit-product {border-top: 1px solid silver; padding: 6px; padding-top: 0px; xtext-align: center;}
#press-kit .press-kit-product {border-top: 1px solid silver; padding: 6px; padding-top: 15px; xtext-align: center;}
#press-kit .product-thumbnail{xborder: 1px solid gray; padding: 3px; width: 360px;text-align: right;}
#press-kit .product-info {float:right; margin: 20px 0 0 0 ; padding: 0 44px 20px 0; width: 300px;}
#press-kit .last {xborder-bottom: 1px solid silver;}
#press-kit .first {margin-top: 44px;}

.product-top {
  height:300px;
}
.product-top-long {
  height:355px;
}
.accessory-top {
  height:276px;

}

#home-socials {
  width: 275px;
  margin-top: 20px;
  float: right;
}

#home-socials #follow_dk {
  border-top: 0px;
}

.fblikeit {}

.new {
	color: green;
	font-weight: bolder;
	font-size: 1.2em;
	margin-right: 10px;
}
.newsletterContentWrap {
  padding-top: 20px;
  height: 80px;
}
.successBalloon {
	width: 146px;
	height: 126px;
	margin: -160px 0 0 120px;
	position:relative;
}
.errorBalloon {
	width: 146px;
	height: 126px;
	margin: -160px 0 0 120px;
	position:relative;
}
.resultText {
	padding: 50px 10px 0 0px;
	margin: -130px 0 0 120px;
	width: 146px;
	height: 126px;
	color: #ffffff;
	text-align:center;
	position: absolute;
}
.mailWrap {
	margin: 0;
	font-size:12px;
	color:#000000;
}
.newsletterInput {
	border: #C1B809 solid 1px;
	padding: 4px;
	color: #000000;
	font-size:12px;
	width: 160px;
}
.newsletterButton {
  padding: 0 10px 0 10px;
}
.contactWrap {
	margin: 20px auto 0 auto;
	text-align:center;
	color: #fff;
	line-height: 24px;
}
.contactWrap A:link, .contactWrap A:visited, .contactWrap A:active{
	color: #000000;
	text-decoration: none;
	background-color:#fff;
	padding: 4px;
}
.contactWrap A:hover {
	text-decoration: underline;
}
