<%# this file contains the markdown markup help%>
# Heading 1
## H2 - Use this more often than H1
### Heading 3
#### Heading 4





or use it like this:
Main Header
===========
A Subheader
-----------

## Styling
*This is italicized*, so
is _this_.

**Make it bold** as well as  __this__.

You can ***combine*** them ___as well___.


## Lists
- Use a `minus` sign for to make a **bullet**
+ or `plus` sign
* or `asterisk`


1. For numbered lists
2. Use any number in front of it
99. This will be item 3


> Create a **blockquote** by
> prepending >` to each line.
>
> Formatting works here:
>
> 1. Lists or
> 2. Headings:

You can even put blockquotes in blockquotes:


> A standard blockquote is indented
> > A nested blockquote is indented more
> > > Nest to any depth.





## Writing Code
To create `code blocks` or preformatted text, indent with `four spaces`:

     for (int i=0; i<0; i++) {
         // do stuff
     };

You can also write inline code using the `backquote` character. Very useful to describe keyboard shortcuts. E.g.: press `ctrl`-`alt`-`del` to reboot your computer.

## Links
www.google.com

**Automactic link** of URLs starting with `http:` http://www.mojohelpdesk.com

Hyperlink works like this

 - search with [Google](https://www.google.com)


[You can use numbers for reference-style link definitions][1]



## Images
Images are exactly like links, but they have an `exclamation point` in front of them:

![Google](https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png)
![Google logo][2]

 [1]: http://www.wikipedia.org "go to wikipedia"
 [2]: https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png "tooltip Google"
