/* @media (min-width: 768px) and (max-width: 991px) {
    .mobile.navbar-header {
        float: right;
        margin: 12px 35px 10px 0px;
        padding: 0px;
    }
} */

.row{
    margin: auto 0px;
}
.dk-5q-color {
    color: #5cb85c;
}

body {
    background-color: black;
    font-family: "Muli", Helvetica, Arial, sans-serif;
    color: #CBCBCB;
}

h1, h2, h3 { 
    margin-top: 0px;
    margin-bottom: 10px;
}

h3{
    /* Font size in Bootstrap!!! */
    font-size: 24px; 
}

h5{
    font-weight: bold;
}

.dk-section-content {
    border-bottom: 1px solid #222222;
}

.dk-section-last {
    border-bottom: 0px;
}

.heading-underscore:after {
    content: '';
    display: inline-block;
    position: relative;
    top: 0.8em;
    margin-top: -1.0em;
    margin-left: -8.4px;
    vertical-align: middle;
    width: 14px;
    height: .15em;
    background: #5cb85c;
}

.heading-underscore h2{
    margin-top:0px;
}

.black-bg:hover .heading-underscore:after {
    -webkit-animation: fadeIn 0.4s ease infinite alternate;
    -moz-animation: fadeIn 0.4s ease infinite alternate;
    -ms-animation: fadeIn 0.4s ease infinite alternate;
    -o-animation: fadeIn 0.4s ease infinite alternate;
    animation: fadeIn 0.4s ease infinite alternate;
}

.heading-underscore {
    display: block;
    text-align: center;
    line-height: 1;
}

.heading-underscore h2 {
    display: inline;
}

@media screen and (max-width:425px) {
    h3 {
        text-align: center;
    }
    h4 {
        text-align: center;
    }
}

.surtitle-5q{
    font-size: 12px;
    color: #cbcbcb;
    text-align: center;
    opacity: 0.8;
}

/* Carousel 1 */

.big-name-5q {
    color: #fff;
    text-align: center;
    /* padding: 40px 20px 0px; */
}

.section-description-first{
    padding-top:0px;
}
#-slider-title {
    font-weight: 1000;
    color: white;
    font-size: 25px
}

#x50-slider-subtitle {
    color: #5A5A5A;
    font-size: 17px;
    text-align: center;
}

#carousel-gallery-p13.slide {
    padding: 0;
    margin: 0;
}

.carousel-inner>.item>img {
    display: inline;
}

.carousel-inner {
    background: black;
}

.orange ol.carousel-indicators li {
      background: dimgrey;
      border-radius: 100%;
      width: 10px;
      height: 10px;
      margin: 0px 3px;
      padding: 0px;
    }

  .orange ol.carousel-indicators li.active {
      background: #5cb85c;
      width: 10px;
      height: 10px;
      margin: 0px 3px;
      padding: 0px;
    }
    
.centered-animation-5q
{
    color: #CBCBCB;
    font-size: 17px;
    text-align: center;
    padding-top: 30px;
}

.carousel-animation{
    height: 480px;
}

.centered-text-5q {
    color: #CBCBCB;
    text-align: center;
    margin-top:10px;
}

.skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	height:35px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
    width:110px;
	font-weight:bold;
	font-size:11px;
	color:#ffffff;
	background:#6adcfa;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
    color: #000;
	display:block;
	padding:5px 2px;
	height:35px;
	line-height:17px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar span{
    position:absolute;
	right:10px;
	top:0;
	font-size:14px;
	height:35px;
	line-height:35px;
	color:#ffffff;
	color:#000;
}

.key-detection-50{
    color: #76838a;
}

.skillbar-bar {
	height:35px;
	width:0px;
	background:#6adcfa;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.skill-bar-percent {
    position:absolute;
	right:10px;
	top:0;
	font-size:14px;
	height:35px;
	line-height:35px;
	color:#ffffff;
	color:rgba(0, 0, 0, 0.4);
}

/* Software */

.img-software{
    padding-right: 15px;
    padding-left: 15px;
}

/*Performance*/

.badges figcaption {
    padding-top: 3%;
    padding-bottom: 3%;
}

figcaption{
    color: rgba(203, 203, 203, 0.8);
}

.img-perf {
    width: 100%;
}

.centered-image-5q {
    padding-bottom: 30px;
    text-align: center;
}


/*Switches*/

#collapseLearnMore {
    background: #000;
    background: -webkit-linear-gradient(#000, #222222);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#000, #222222);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#000, #222222);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#000, #222222);
    /* Standard syntax */
}

#collapseLearnMore h3 {
    color: #fff;
}

.button-switch, .button-switch:focus {
    background-color: #000;
    border-color: #5cb85c;
    text-transform: uppercase;
    margin-left: 0px;
    margin-top: 15px;
    border-radius:0px;
}

.button-switch:hover {
    background-color: #5cb85c;
}

.switch-content {
    margin-top: 20px;
}


.description {
    font-size: 15px;
    color: #CBCBCB;
}

.collapse-container {
    padding: 30px;
}

.x50-switches-technical-title {
    margin: 30px;
    padding-top: 30px;
}

.img1 {
    width: 100%;
    height: auto;
}

.img2 {
    width: 100%;
    height: auto;
}

.gamma-zulu-column {
    text-align: right;
}


.title-line {
    font-size: 12px;
}

#x50-based-on-manufacturer {
    color: #6b6b6b;
    font-size: 12px;
}

.img-container1.col-xs-12 {
    padding-left: 0%;
    padding-right: 5px;
}

.img-container2.col-xs-12 {
    padding-left: 5px;
    padding-right: 0%;
}

@media screen and (max-width:768px) {
    .img-container1.col-xs-12 {
        padding-left: 0%;
        padding-right: 0%;
    }
    .img-container2.col-xs-12 {
        padding-left: 0%;
        padding-right: 0%;
    }
}

.download a {
    color: #fff;
    text-decoration: none;
}

/* API */

#collapseShowCode a{
    color: #fff;
}

#collapseShowCode a:hover, #collapseShowCode a:focus,#collapseShowCode .nav-pills>li.active>a{
    color: #fff;
    background-color: #5cb85c;
}

.languageSelected{
    background-color: #5cb85c;
    color:#fff;
}

.show-code-container{
    padding-top: 30px;
}

.sign-nerd{
    font-size: 7em;
    color:#5A5A5A;
}

/*RGB Lighting*/

h3 {
    color: #fff;
}

.side-image-row {
    margin-left: 50px;
    margin-right: 50px;
    align-items: center;
}

@media screen and (min-width: 992px){
    .side-image-row {
        display: flex;
        display: -webkit-flex;
    }
}

.side-image-cut-middle {
    border-bottom: 1px solid #222222;
    margin-left: 50px;
    margin-right: 50px;
}

.side-image-cut {
    border-bottom: 1px solid #222222;
    
}

.container-image-text{
    margin-top: 25px;
}

.asterisk{
    font-size:11px;
} 

#rgb-lighting-asterisk {
    color: #6b6b6b;
    font-size: 12px;
}

@media only screen and (min-width: 1024px) {
    .img-RGB {
        padding-top: 30px;
        float: right;
    }
    .txt-RGB {
        padding-top: 30px;
    }
}

@media only screen and (max-width: 768px) {
    .img-RGB {
        padding-top: 30px;
    }
    .txt-RGB {
        padding-top: 30px;
    }
}

@media only screen and (max-width: 605px) {
    .row.side-image-row {
        display: block;
        align-items: auto;
    }
}


/*Customizable lighting*/

.effect-name {
    font-size: 15px;
    line-height: 15px;
    text-align: center;
}

.img-xs {
    padding: 0px 0px 10px 0px;
}

.download:hover {
    text-decoration: underline;
}

@media screen and (max-width: 425px) {
    .effect-name {
        font-size: 15px;
        line-height: 15px;
        text-align: center;
    }
}

#carousel-customizable-lighting {
    margin-top: 20px;
}


/*Durable Premium*/

.img-earth {
    max-height: 300px;
}

.img-durable {
    margin: 0 auto;
}

.img-dog {
    padding: 0 150px;
}

@media only screen and (max-width: 605px) {
    .row.side-image-row {
        display: block;
        align-items: auto;
    }
    .img-earth {
        max-height: 300px;
        margin-left: 0px;
    }
    .img-dog {
        padding: 0 0px;
    }
}

.x50-centered {
    margin: 0 auto;
    display: block
}

/* Carousel Reviews */

.carousel-reviews .review-paragraph{
    font-size: 20px;
    color: #fff;
}

.carousel-reviews .autor{
    font-weight: bold;
    font-size: 18px;
}

.carousel-reviews-inner{
    text-align: center;
}

@media screen and (min-width:768px) {
    .carousel-reviews-inner{
        width:500px;
        height:90px;
    } 
}

.testimationals-5Q .testimonial p{
    background: transparent;
    border: none;
    padding: 0px;
    text-align: center;
    font-size: 20px;
}

@media screen and (max-width:768px){
    .testimationals-5Q .testimonial p{
        font-size:15px;
    }
}

.testimationals-5Q {
    margin-top: 35px;
}


.howTovideos p, .howTovideos a{
    
    font-size: 20px;
}

.testimonial-author-info {
    padding: 10px 0 0 0px;
    color: #666;
}


/*Specification*/

.specification-subtitle {
    font-size: 17px;
    color: white;
    margin-bottom: 1%;
    margin-top: 1%;
}

.specification-container {
    background-color: #5cb85c;
    padding: 5% 5%;
    width: 100%;
    color: #fbf7f7;
}

.specification-container.col-md-6, .specification-container.col-xs-12{
    padding-left: 0px;
}

.specification-container h2 span {
    font-size: 35px;
    border-bottom: 4px solid #fff;
    font-weight: bold;
}
.specification-container ul{
    padding: 0;
    list-style: none;
}
.specification-container li{
    margin-bottom: .45em;
}


.tab-spec {
    margin-bottom: 20px;
}

.dk-section-content-spec {
    padding-top: 0%;
}

.content-multi-center-first{
    padding-bottom: 60px;
}

.content-multi-center{
    padding-top:60px;
    padding-bottom: 60px;
}

.content-multi-center-last{
    padding-top: 60px;
}

.content-multi-first{
    padding-bottom: 40px;
}

.content-multi{
    padding-top:40px;
    padding-bottom: 40px;
}

.content-multi-last{
    padding-top: 40px;
}

@media screen and (max-width:767px){
    .content-multi-first{
        padding-bottom: 20px;
    }
    
    .content-multi{
        padding-top:20px;
        padding-bottom: 20px;
    }
    
    .content-multi-last{
        padding-top: 20px;
    }

    .content-multi-center-first{
        padding-bottom: 40px;
    }
    
    .content-multi-center{
        padding-top:40px;
        padding-bottom: 40px;
    }
    
    .content-multi-center-last{
        padding-top: 40px;
    }
}

@media screen and (max-width:425px) {
    .specification-container h2 span {
        font-size: 25px;
    }
}

@media screen and (max-width:1200px){ 
    .iframeResize { 
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 35px;
      height: 0;
      overflow: hidden;
      
    } 
    .iframeResize iframe { 
      position: absolute;
      width: 100%;
      height: 100%;
      max-height:410px;
      margin:auto;
    } 
  } 

@media screen and (max-width:425px){ 
  .videoWrapper { 
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
    
  } 
  .videoWrapper iframe { 
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width:560px;
    max-height:315px;
    margin:auto;
  } 
} 