/*
  Allow angular.js to be loaded in body, hiding cloaked elements until
  templates compile.  The !important is important given that there may be
  other selectors that are more specific or come later and might alter display.
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}
/*#main{
  opacity:0;
}*/
/*redefine button play sound for greetek blue*/
.btn-greetek-play-blue {
    background-color:#2D6BB6 !important;
    color:white !important;
}
.btn-greetek-play-blue:hover {
    background-color:#135494 !important;
}
/*redefine button play sound for greetek brown*/
.btn-greetek-play-brown {
    background-color:#815B1B !important;
    color:white !important;
}
.btn-greetek-play-brown:hover {
    background-color:#5E3F0C !important;
}


/*  Display the cross for zoombox */
div.zoombox_container.multimedia{
    overflow: visible !important;
    display:block;
}

footer a:hover{
    text-decoration:underline;
    color:white;
}

html {
    overflow-y: scroll;
}

.services-big div.content-box div.promotion{
    background-color: #d12d32;
    border : 1px solid #9e0b0f;
}

.content{
    padding-top:15px;
}

.has-mistake input{
    color:#9e0b0f;
}
footer .alert{
    padding:4px;
    padding-left: 10px;
    padding-right: 10px;
}
em{
    background-color:#fff600;
    font-style: normal;
    color:#444444;
}

/*footer btn warranty daskeyboard*/
.btn-warranty-daskeyboard:active,
.btn-warranty-daskeyboard:visited,
.btn-warranty-daskeyboard {
    color:black;
    width: 216px;
    display: table;
    background-color: #F49F0A;
}
.btn-warranty-daskeyboard:hover {
    background-color: #DB8F09;
    color: black;
}

/*footer btn giveaway daskeyboard*/
.btn-giveaway-daskeyboard:active,
.btn-giveaway-daskeyboard:visited,
.btn-giveaway-daskeyboard {
    color:black;
    width: 216px;
    display: table;
    background-color: #980d15;
}
.btn-giveaway-daskeyboard:hover {
    background-color: #830b11;
    color: black;
}

/*align vertical when parent is table or display as table*/
.vertical-align {
    vertical-align: middle;
}

ol.carousel-indicators li {
    background: dimgrey;
    border-color: #9e0b0f;
    border-radius: 100%;
    width: 10px;
    height: 10px;
	margin: 0px 3px;
	padding: 0px;
}

ol.carousel-indicators li.active {
    background: #9e0b0f;
    width: 10px;
    height: 10px;
	margin: 0px 3px;
	padding: 0px;
}

.bottom-pad-small{
    background-color: #e2e2e2;
    border: 1px solid #c2c2c2;
}

.bottom-pad-small-for-buy{
    background-color: #777;
    border: 1px solid #555;
    margin-bottom: 0px;
}

.banner-link{
    background-color:#222;
    opacity: 0;
    position:absolute;
    top:0px;
}

.banner-link:hover{
    opacity: 0.2;
}

.custom-pull-left{
    float:left;
}

.products-page ul{
    list-style: none;
    padding-left:0px;
}



.row>.product-thumbnail{
    margin-top:10px;
}


/*.modal-dialog{
  width:50%;
  margin-top: 150px;
}*/

.contact-us markdown p{
    margin-left: 0px;
}

.contact-us li p strong{
     margin-bottom: 0px;
}

.contact-us {
    padding-left: 0px;
}

.contact-us .col-sm-6{
    padding-left: 0px;
}

.carousel-text{
    position: absolute;
    top:100px;
    left:15%;
    right:15%;
}

.carousel-text-medium{
    position: absolute;
    top:200px;
    left:15%;
    right:15%;
}

.carousel-text-top{
    position: absolute;
    top:20px;
    left:15%;
    right:15%;
}

.carousel-text-bottom{
    position: absolute;
}

.fullwidthbanner-container {
    max-height: 100% !important;

}

/* FOOTER */
.footer-links>a{
    padding-right: 35px;
}

.product-slogan img{
    display: block;
    margin:0 auto;
}

.product-slogan{
    padding-top:0px;
    padding-bottom:5px;
}

.product-slogan-first{
    padding-top:20px;
    padding-bottom:10px;

}

.product-video{
  margin-bottom : 55px;
  margin-top: -10px;
}

.product-slogan-last{
    padding-top:20px;
    padding-bottom:10px;
}

.product-feature{
    padding-bottom: 17px;
}

.widget{
  margin-bottom : 15px;
}

.line-separator-type-faster{
    margin: 0 auto;
    height:2px;
    background:#ccc;
    width: 65%;
    margin-top:20px;
    margin-bottom:20px;
}

#typefaster h3.xtitle{
  margin-bottom:15px !important;
}

.line-separator{
    margin: 0 auto;
    height:2px;
    background:#ccc;
    width: 65%;
    margin-top:35px;
    margin-bottom:35px;
}
.line-separator2{
    margin: 0 auto;
    height:2px;
    background:#ccc;
    width: 65%;
    margin-top:25px;
    margin-bottom:25px;
}
.line-separator3{
    margin: 0 auto;
    height:2px;
    background:#ccc;
    width: 65%;
    margin-top:25px;
    margin-bottom:30px;
}
.line-separator4{
    margin: 0 auto;
    height:2px;
    background:#ccc;
    width: 65%;
    margin-top:10px;
    margin-bottom:25px;
}
.line-separator5{
    margin: 0 auto;
    height:2px;
    background:#ccc;
    width: 65%;
    margin-top:0px;
    margin-bottom:35px;
}
.line-separator6{
    margin: 0 auto;
    height:2px;
    background:#ccc;
    width: 65%;
    margin-top:35px;
    margin-bottom:35px;
}
.line-separator7{
    margin: 0 auto;
    height:2px;
    background:#ccc;
    width: 65%;
    margin-top:0px;
    margin-bottom:25px;
}
.line-separator8{
    margin: 0 auto;
    height:2px;
    background:#ccc;
    width: 65%;
    margin-top:0px;
    margin-bottom:20px;
}

.content-box.big.ch-item{
    min-height: 350px;
}
/*
.client-carousel img{
    height: 175px;
    width: 165px;
}

.client-carousel img.resize{
    margin: 35px 5px;
    height: 105px;
    width: 155px;
}*/
.our-clients .item {
text-align: center;
}

.client-carousel img{
    margin:0px auto;
}

.post-body img{
    width: 100%;
}

body {
    background: #25292C;
}

.content-box{
    margin-bottom: 20px;
}

#guarantee strong{
    font-weight: bold;
}
.zoombox .video:hover {
    opacity: 1;
}

.zoombox .video {
    opacity: 0.9;
}


.tactile-experience{
    background: #565656 url('/images/bg-tactileExperience.jpg');
}

.item-inner{
    background-color:white;
}

.itemSlider {
    overflow: hidden;
}
.itemSlider > span {
    display: block;
}



.carousel-box{
    padding: 35px 20px;
    border-radius: .7em;
    -khtml-border-radius: .7em;
    -webkit-border-radius: .7em;
    -moz-border-radius: .7em;
    -ms-border-radius: .7em;
    -o-border-radius: .7em;
    box-shadow: 2px 3px 5px rgba(0,0,0,.5);
    -khtml-box-shadow: 2px 3px 5px rgba(0,0,0,.5);
    -webkit-box-shadow: 2px 3px 5px rgba(0,0,0,.5);
    -moz-box-shadow: 2px 3px 5px rgba(0,0,0,.5);
    -ms-box-shadow: 2px 3px 5px rgba(0,0,0,.5);
    -o-box-shadow: 2px 3px 5px rgba(0,0,0,.5);
    background-color: rgba(0,0,0,.35);

}

.carousel .carousel-control {
	width: 12%;
}

.carousel-control.right {
	background-image: -webkit-linear-gradient(left,color-stop(rgba(0,0,0,0.0001) 0),color-stop(rgba(0,0,0,0.1) 100%));
	background-image: linear-gradient(to right,rgba(0,0,0,0.0001) 0,rgba(0,0,0,0.1) 100%);
}

.carousel-control.right:hover {
	background-image: -webkit-linear-gradient(left,color-stop(rgba(0,0,0,0.0001) 0),color-stop(rgba(0,0,0,0.9) 100%));
	background-image: linear-gradient(to right,rgba(0,0,0,0.0001) 0,rgba(0,0,0,0.5) 100%);
}

.carousel-control.left {
	background-image: -webkit-linear-gradient(left,color-stop(rgba(0,0,0,0.1) 0),color-stop(rgba(0,0,0,0.0001) 100%));
	background-image: linear-gradient(to right,rgba(0,0,0,0.1) 0,rgba(0,0,0,0.0001) 100%);
}

.carousel-control.left:hover {
	background-image: -webkit-linear-gradient(left,color-stop(rgba(0,0,0,0.5) 0),color-stop(rgba(0,0,0,0.0001) 100%));
	background-image: linear-gradient(to right,rgba(0,0,0,0.5) 0,rgba(0,0,0,0.0001) 100%);
}

.sidebar .widget {
    margin-bottom: 10px;
}

.slogan-title{
    color:#333;
    font-size: 22px;
    padding-top: 5px;
}

.carousel-box h3{
    text-transform: uppercase;
    font-size: 36px;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 3px, rgba(0, 0, 0, 0.74902) 0px 0px 30px;
}

.carousel-box h4{
    color: white;
    font-size: 22px;
    text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 3px, rgba(0, 0, 0, 0.74902) 0px 0px 30px;
    margin-top:-20px;
    padding-bottom: 10px;
}

.carousel-box p{
    color: white;
    font-size: 16px;
    padding-bottom: 10px;
    text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 3px, rgba(0, 0, 0, 0.74902) 0px 0px 30px;
}


#tactileExperience {
    width:100%;
    color: #fff;
    text-align: center;
    margin: 50px 0 0;
    padding: 93px 0;
    background: #565656 url(/images/bg-tactileExperience.jpg) center no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat no-repeat;
    -khtml-background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
}


 #audioTests figure .playButton {
    display: block;
    width: 167px;
    height: 163px;
    text-indent: -999em;
    background: url(/images/product/buttons-audio.png) no-repeat;
    margin: 0 auto;
    transition: opacity 0.5s ease;
    -khtml-transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
}

  #audioTests.unit-audio figure .playButton {
    display: block;
    width: 82px;
    height: 81px;
    text-indent: -999em;
    background: url(/images/product/buttons-audio-small.png) no-repeat;
    margin: 0 10px;
    transition: opacity 0.5s ease;
    -khtml-transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
}

    .img-slider{
        /*-webkit-transform: scale(1);
        -moz-transform:    scale(1);
        -ms-transform:     scale(1);
        -o-transform:      scale(1);*/
        /*transform: scale(1);*/
        margin-top:-10vw;
        width:100% !important;
          /*

  If you dont do this, Chrome will make the element overlap while loading.
  We want the browser (Chrome) to know the height of the div before the image
  itself loads.
  the image is taking is taking the full screen (so it has a height of 100vw)
  We know the ratio of the image is 16/4, so we calculate the height, and it
  is (100*4)/16 = 25vw

  */
    }

    .video-play{
        font-weight: normal;
        color: #666;
        text-shadow: 0 0 1px rgba(0,0,0,0.01);
        margin: 0 0 25px;
        font-size: 22px;
    }

    .video-play:hover{
        text-decoration: underline;
    }


.content-product-box{
border-style: solid;
border-width: 1px 1px 3px;
border-color: #ddd;
background: -webkit-gradient(linear,0% 0%,0% 100%,from(#f8f8f8),to(#fafafa));
background: -webkit-linear-gradient(top,#f8f8f8,#fafafa);
background: -moz-linear-gradient(top,#f8f8f8,#fafafa);
background: -ms-linear-gradient(top,#f8f8f8,#fafafa);
background: -o-linear-gradient(top,#f8f8f8,#fafafa);
margin:0px;
padding:10px;
margin-bottom: 15px;
min-height: 279px;
}

 #audioTests {
    zoom: 1;
    margin: 130px auto 0;
    background: url(/images/product/bg-audioTests.png) center top no-repeat;
}

 #audioTests.unit-audio {
    margin: 0 auto 0;
    background: none;
    padding-bottom: 20px;
    padding-top:5px;
}

 #audioTests figure .playButton.brown {
    background-position: center top;
}

 #audioTests figure .playButton.brown:hover {
    background-position: center bottom;
}

 #audioTests figure .playButton.red {
    background-position: right top;
}

 #audioTests figure .playButton.red:hover {
    background-position: right bottom;
}

 #audioTests figure .playButton.blue {
    background-position: left top;
}

 #audioTests figure .playButton.blue:hover {
    background-position: left bottom;
}

#tactileExperience h2 {
    font-size: 47px;
    color:white;
    text-transform: uppercase;
}

#tactileExperience h3 {
    color: #ccc;
    font: 29px "Myriad W01 Regular",Arial,sans-serif;
}

 #audioTests figure h4 {
    color:white;
    font: 34px "Myriad W01 Regular",Arial,sans-serif;
    margin: 0;
    text-transform: uppercase;
}

 #audioTests figure h5 {
    color:white;
    font: 22px "Myriad W01 Regular",Arial,sans-serif;
    text-transform: uppercase;
    margin: 0;
}
 #audioTests figure p {
    color:white;
    margin: 15px 0 0;
    padding: 10px 15px;
    border-top: 1px solid #fff;
}
#audio figure h4 {
   color:white;
   font: 34px "Myriad W01 Regular",Arial,sans-serif;
   margin: 0;
   text-transform: uppercase;
   margin-top:20px;
}

#audio figure h5 {
   color:white;
   font: 22px "Myriad W01 Regular",Arial,sans-serif;
   text-transform: uppercase;
   margin: 0;
}
#audio figure p {
   color:white;
   margin: 15px 0 0;
   padding: 10px 15px;
   border-top: 1px solid #fff;
}


 #audioTests figure .playButton.blue.isPlaying {
    opacity: 0.5;
}

 #audioTests figure .playButton.red.isPlaying {
     opacity: 0.5;
}

 #audioTests figure .playButton.brown.isPlaying {
     opacity: 0.5;
}

.space-tactileExperience{
    padding-bottom: 250px;
}

header .top-bar a:hover{
    color:#727272;
}

#education-program_content_1 h3{
   padding-top:30px;
}

.btn-shop-now{
    margin-left: 15px;
    background-color: #000000;
    color: white;

    color: #fff !important;
text-shadow: 0 1px #555 !important;
}

header ul, header ol{
    margin-bottom: 0px;
}

/* Large desktop */
@media (min-width: 1400px) {
    .product-items{
        min-height: 306px;
    }

    .content-product-box{
        min-height: 279px;
    }

    .carousel-box{
        max-width: 600px;
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 980px) and (max-width: 1399px) {

    .product-items{
        min-height: 266px;
    }
/*
    .modal-dialog{
      width:80%;
    }*/
    .carousel-box{
        min-width: 400px;
    }
    .carousel-text{
        margin-right: 200px;
    }
    .carousel-text-medium{
        margin-right: 200px;
    }
    .carousel-text-top{
        margin-right: 200px;
    }

    .itemSlider h3{
        font-size: 30px;
    }

    .itemSlider h4{
        font-size: 18px;
        padding-bottom: 30px;
    }


}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

    .carousel-box{
        padding:15px;
        padding-bottom: 25px;
    }
    .carousel-text{
        top:0px;
    }

    .carousel-text-medium{
        top:50px;
    }

    .carousel-text-top{
        top:20px;
    }


    #tactileExperience #audioTests {
       zoom: 0.8;
    }
    .itemSlider h3{
        font-size: 26px;
    }

    .itemSlider h4{
        font-size: 16px;
        padding-bottom: 10px;
    }

}

/* Landscape phone to portrait tablet */
@media (max-width: 783px) {

    #video-play{
        -webkit-transform: scale(0.15);
        -moz-transform:    scale(0.15);
        -ms-transform:     scale(0.15);
        -o-transform:      scale(0.15);
        transform: scale(0.15);
    }

    .carousel-box{
        padding:15px;
        padding-bottom: 25px;
    }

    .carousel-text{
        top:0px;
    }

    .carousel-text-medium{
        top:50px;
    }
    .carousel-text-top{
        top:20px;
    }

    #tactileExperience #audioTests {
        background-image: none;
    }

    #tactileExperience #audioTests figure{
        margin-bottom: 50px;
    }
    .space-tactileExperience{
        padding-bottom: 0px;
    }

    .itemSlider h3{
        font-size: 22px;
    }

    .itemSlider h4{
        font-size: 14px;
        padding-bottom: 10px;
    }
    /*.carousel-inner .itemSlider img{
       min-height: 700px;
    }*/

        .content-product-box{
        min-height: 0px;
    }


}



/* Landscape phones and down */
@media (max-width: 495px) {

    .itemSlider h3{
        font-size: 17px;
    }

    .itemSlider h4{
        font-size: 14px;
    }

    .itemSlider .btn-special{
        padding:10px;
        font-size: 12px;
    }
/*
    .modal-dialog{
      width:95%;
    }*/
    /*.carousel-inner .itemSlider img{
        min-height: 500px;

    }*/

    #daskeyboard-logo{
        width: auto;
        height: 25px;
    }

    /* #logo_arrow{
        width:auto;
        height: 25px;;
    } */

    #logo_company {
        height: 32px;
    }
}

@media (max-width: 339px) {
    #daskeyboard-logo{
        width: auto;
        height: 25px;
    }

    /* #logo_arrow{
        width: 16px;
        height: 23px;;
    } */

    #logo_company {
        height: 30px;
        padding: 8px 5px 8px 5px;
    }
}

/*===================================*/
/*        GUARANTEE SECTION          */
/*===================================*/

.guarantee .content{
  margin-top:-10px;
}

.guarantee .content h2{
  margin-bottom: 5px;
  margin-top: 15px;
}

.guarantee .content .divider{
  margin-top: 0px;
  margin-bottom: 20px;
}
.guarantee .content h3{
  margin-bottom: 10px;
  margin-top: 15px;
}




/*#######################################################*/
/*CSS OF THE NEW BANNER FOR DIVISION ZERO LAUNCH*/
/*#######################################################*/

.box-front {
  margin-top:50px;
  padding:0;
  background: url(../images/banner/x40-banner-homepage.png);
  background-size: cover;
}
.border-box-front {
  margin-top:90px;
  margin-bottom:40px;
}

.red{
color: #c10916;
}
.D0-font {
font-family: 'Division Zero';
font-size: 45px;
color: #c10916;
}
@font-face{
	font-family :'Division Zero';
	src:url('../fonts/DivisionZero.ttf') format('truetype');
}

a.slogan-homepage:hover, a.subtitle-homepage:hover{
  text-decoration:none;

}

.slogan-homepage{
  font-size:58px;
  font-weight: bold;
  text-transform: uppercase;
  color: #c10916;
  padding-top:15px;
  margin-top: -50px;
}
.subtitle-homepage{
  font-size:32px;
  font-weight: 300;
  padding-top:35%;
  padding-bottom:3%;
  color:white;
}

@media (min-width:450px) and (max-width:630px){
  .slogan-homepage{
    font-size:45px;
    font-weight: bold;
    text-transform: uppercase;
    color: #c10916;
    padding-top:15px;
    margin-top: -50px;
  }
  .subtitle-homepage{
    font-size:23px;
    font-weight: 300;
    padding-top:50%;
    padding-bottom:3%;
  }
  .D0-font {
  font-family: 'Division Zero';
  font-size: 45px;
  color: #c10916;
}
}

@media only screen and (max-width:450px){
  .slogan-homepage{
    font-size:35px;
    font-weight: bold;
    text-transform: uppercase;
    color: #c10916;
    padding-top:15px;
    margin-top: -50px;
  }
  .subtitle-homepage{
    font-size:20px;
    font-weight: 300;
    padding-top:80%;
    padding-bottom:3%;
  }
  .D0-font {
  font-family: 'Division Zero';
  font-size: 30px;
  color: #c10916;
}
}
